.mobile-bottom-nav {
    position: fixed;
    bottom: 0;
    max-width: 90%;
    margin: 30px;
    left: 0;
    right: 0;
    z-index: 1000;
    will-change: transform;
    backdrop-filter: blur(5px) saturate(0%);
    -webkit-backdrop-filter: blur(9px) saturate(0%);
    background-color: rgba(255, 255, 255, 0.09);
    border-radius: 20px;
    transform: translateZ(0);
    display: flex;
    color: black;
    height: 50px;

  }
  .mobile-bottom-nav__item {
    flex-grow: 1;
    text-align: center;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mobile-bottom-nav__item--active {
    background-color: black;
    color: white;
    border-radius: 20px;
  }
  .mobile-bottom-nav__item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .material-icons{
    width: 0px;
    height: 20px;
  }
@media(width>786px){
    .mobile-bottom-nav{
        display: none;
    }
}  
.profile-co{
  width: 100vw;

}