.card-prof {
  --main-color: #000;
  --submain-color: #78858f;
  --bg-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}


.label-1 {
  height: 30px;
  width: 60px;
  background-color: #ffffff;
  border-radius: 30px;
  -webkit-box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
    inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
    inset 0 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 5px 4px rgba(255, 255, 255, 1),
    inset 0 0 20px 1px rgba(0, 0, 0, 0.488), 10px 20px 30px rgba(0, 0, 0, 0.096),
    inset 0 0 0 3px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
}

.label-1:hover {
  -webkit-transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
  transform: perspective(100px) rotateX(5deg) rotateY(-5deg);
}

#checkbox:checked ~ .label-1:hover {
  -webkit-transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
  transform: perspective(100px) rotateX(-5deg) rotateY(5deg);
}

#checkbox {
  display: none;
}

#checkbox:checked ~ .label-1::before {
  left: 35px;
  background-color: #000000;
  background-image: linear-gradient(315deg, #000000 0%, #414141 70%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.label-1::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #000000;
  background-image: linear-gradient(
    130deg,
    #757272 10%,
    #ffffff 11%,
    #726f6f 62%
  );
  left: 10px;
  -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 10px 10px 10px rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}


.card__img {
  height: 200px;
  width: 98vw;
  position: relative;
  margin: 10px;
  z-index: 0; /* Add this to establish a positioning context */
}

.card__img svg {
  height: 100%;
  border-radius: 20px;
  transform: translate3d(0, 0, 0);
}

.card__avatar {
  top: 140px;
  position: absolute;
  margin-left: 35px; /* Move 50px to the right */
  width: 114px;
  height: 114px;
  background-image: url('../Assets/00001.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.card__avatar svg {
  width: 100px;
  height: 100px;
}

.card__btn {
  margin-top: 15px;
  margin-left: 20px;
  width: 76px;
  height: 31px;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 11px;
  color: black;
  background: var(--bg-color);
  text-transform: uppercase;
  transition: all 0.3s;
}

.card__btn-solid {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn:hover {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn-solid:hover {
  background: var(--bg-color);
  color: var(--main-color);
}
.card-day12 {
  width: 90%;
  height: auto;
  margin-top: 30px;
  padding: 30px;
  margin-bottom: 10%;
  margin-left: 95px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(120px) saturate(0%);
  -webkit-backdrop-filter: blur(9px) saturate(0%);
  background-color: rgba(255, 255, 255, 0.09);
  border-radius: 20px;
  border-top-right-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  color: black;
  justify-content: center;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow:hidden;
  z-index: -1;
}
.input_field {
  width: 20%;
  height: 40px;
  
  margin-bottom: 10px;
  padding: 0 0 0 16px;
  border-radius: 9px;
  outline: none;
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.input_field:focus {
  border: 1px solid #e5e5e500;
  color: black;
}
.moon3{
  font-size: 10px;
  position: absolute;
  left: 15px;
  top: 15px;
  transition: all 0.3s ease-in-out;
}
.moon3 {
 display: flex;
 height: 3.2em;
 width:40px;
 align-items: center;
 justify-content: center;
 background-color: #eeeeee4b;
 border-radius: 20px;
 letter-spacing: 1px;
 transition: all 0.2s linear;
 cursor: pointer;
 border: none;
 background: #fff;
}

.moon3 > svg {
 margin-right: 5px;
 margin-left: 5px;
 font-size: 20px;
 transition: all 0.4s ease-in;
}

.moon3:hover > svg {
 font-size: 1.2em;
}

.moon3:hover {
 box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
 transform: translateY(-2px);
}
.input_label {
  font-size: 10px;
  color: #8B8E98;
  font-weight: 600;
}
@media (max-width:988px){
  .card-day12{
    width: 95vw;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 20px;
    gap: 7px;
    padding: 40px;
    margin-bottom: 50%;
  }
  .input_field{
    width: 90%;
  }
  .card__img{
    width: 96vw;
  }
  .moon3{
    display: none;
  }
  
}