.card-prof {
  --main-color: #000;
  --submain-color: #78858f;
  --bg-color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background: black;
}

.card__img {
  height: 200px;
  width: 98vw;
  position: relative;
  margin: 10px;
  z-index: 0; /* Add this to establish a positioning context */
}

.card__img svg {
  height: 100%;
  border-radius: 20px;
}

.card__avatar {
  top: 140px;
  position: absolute;
  margin-left: 35px; /* Move 50px to the right */
  width: 114px;
  height: 114px;
  background-image: url('../Assets/00001.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.card__avatar svg {
  width: 100px;
  height: 100px;
}

.card__btn {
  margin-top: 15px;
  margin-left: 20px;
  width: 76px;
  height: 31px;
  border: 2px solid var(--main-color);
  border-radius: 4px;
  font-weight: 700;
  font-size: 11px;
  color: black;
  background: var(--bg-color);
  text-transform: uppercase;
  transition: all 0.3s;
}

.card__btn-solid {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn:hover {
  background: var(--main-color);
  color: var(--bg-color);
}

.card__btn-solid:hover {
  background: var(--bg-color);
  color: var(--main-color);
}
.card-day12 {
  width: 90%;
  height: auto;
  margin-top: 30px;
  padding: 30px;
  margin-left: 95px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(120px) saturate(0%);
  -webkit-backdrop-filter: blur(9px) saturate(0%);
  background-color: rgba(255, 255, 255, 0.09);
  border-radius: 20px;
  border-top-right-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  color: black;
  justify-content: center;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  overflow:hidden;
  z-index: -1;
}
.input_field {
  width: 20%;
  height: 40px;
  
  margin-bottom: 10px;
  padding: 0 0 0 16px;
  border-radius: 9px;
  color: white;
  outline: none;
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.input_field:focus {
  border: 1px solid #e5e5e500;
  background-color: #F2F2F2;
  color: black;
}
.input_label {
  font-size: 10px;
  color: #8B8E98;
  font-weight: 600;
}
@media (max-width:988px){
  .card-day12{
    width: 97vw;
    margin-left: 10px;
    margin-top: 20px;
    border-radius: 20px;
    gap: 7px;
    padding: 40px;
    margin-bottom: 30%;
  }
  .input_field{
    width: 90%;
  }
  
  
}